
body, html {
  height: 100%;
  /* overflow: auto; */
  margin: 0;
  padding: 0;
}


.container {
  max-height: 100vh; 
  /* overflow-y: auto;  
  overflow-x: hidden;  */
  padding: 1rem; 
}
#startBtn , #CancelBtn{
  margin: 5px;
}

.content-container {
  font-size: 1rem;
  line-height: 1.5;
}


@media (max-width: 768px) {
  .content-container {
    font-size: 0.9rem; 
    padding: 0.5rem; 
  }
}


@media (max-width: 480px) {
  .content-container {
    font-size: 0.85rem; 
  }

  .container {
    padding: 0.5rem; 
  }
}


@media (min-width: 240px) {
  .instruction p {
    text-align: left;
    font-size: 0.9rem; 
    padding: 0.1rem; 
  }
  } 
