body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--main-background);
  font-family: var(--main-font);
  color: white;
}

#startBtn,
#CancelBtn {
  margin: 5px;
}

.content-container {
  font-size: 1rem;
  line-height: 1.5;
}

.startBtn,
.cancelBtn {
  padding: 8px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: var(--main-btn-background);
}

.startBtn:hover,
.cancelBtn:hover {
  background-color: rgb(53, 137, 41);
  color: white;
}

@media (max-width: 768px) {
  .content-container {
    font-size: 0.9rem;
    padding: 0.5rem;
  }
}

@media (max-width: 480px) {
  .content-container {
    font-size: 0.85rem;
  }

  .container {
    padding: 0.5rem;
  }
}

@media (min-width: 240px) {
  .instruction p {
    text-align: left;
    font-size: 0.9rem;
    padding: 0.1rem;
  }
}