* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: var(--main-background);
  font-family: var(--main-font);
}
.login-container {
  max-width: 900px;
  width: 100%;
}
.bg-primary {
  background: var(--main-background);
}
form .form-control {
  border-radius: 20px;
}
button {
  border-radius: 20px;
  font-weight: bold;
}
a {
  text-decoration: none;
  font-weight: bold;
}
