* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #2c3e50, #1e3c72);
  font-family: var(--main-font);
}
.login-container {
  max-width: 900px;
  width: 100%;
}
.bg-primary {
  background: linear-gradient(to right, #1e3c72, #2c3e50);
}
form .form-control {
  border-radius: 20px;
}
button {
  border-radius: 20px;
  font-weight: bold;
}
a {
  text-decoration: none;
  font-weight: bold;
}
