* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: var(--main-background);
  font-family: var(--main-font);
}

.login-container {
  max-width: 900px;
  width: 100%;
}

.bg-primary {
  background: var(--main-background);
}

form .form-control {
  border-radius: 20px;
}

button {
  border-radius: 20px;
  font-weight: bold;
}

a {
  text-decoration: none;
  font-weight: bold;
}


#loginError {
  border-radius: 20px;
  text-align: center;
  animation: shake 0.5s;
}

#loginError.alert-success {
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
  border-radius: 20px;
  text-align: center;
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(10px);
  }

  50% {
    transform: translateX(-10px);
  }

  75% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}