* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  background: var(--main-color);
  background: var(--main-background);
}

.bg-primary {
  background: var(--main-background);
}

form .form-label {
  border-radius: 20px;
}

button {
  border-radius: 20px;
  font-weight: bold;
}

a {
  text-decoration: none;
  font-weight: bold;
}

.toggle-password {
  color: var(--main-color);
  position: absolute;
  right: 30px;
  top: 45px;
  opacity: 0.5;
  cursor: pointer;
  transition: color 0.3s ease;
}

.toggle-password:hover {
  color: var(--main-color);
  opacity: 1;
  color: #0056b3;
}

@media screen and (max-width: 600px) {
  .toggle-password {
    right: 25px;
    top: 45px;
  }
}